<div class="center">
    {{ message}}<br>
    <button type="button" class=""><a href="/">Go to homepage</a></button></button>
    </div>
<style>
.center {
    margin: auto;
    width: 45%;
    border: 3px solid #73AD21;
    padding: 15px;
}

</style>