{% extends 'base.html.twig' %}

{% block title %}Referral links application{% endblock %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1>Hello there!</h1>
                <h2>Welcome to referral link application!</h2>
                <h3>If you want to create your own referral link, please register.
                </h3>
                {% block sidebar %}
                    <ul>
                        <li><a href="/login">Login</a></li>
                        <li><a href="/register/">Register</a></li>
                        <li><a href="/show">Show amount of refers</a> </li>
                        <li><a href="/create">Create your referral link</a> </li>
                    </ul>
                {% endblock %}
            </div>
        </div>
    </div>

{% endblock %}