{% extends 'base.html.twig' %}

{% block title %}Referral links applacation{% endblock %}

{% block body %}
    <div id="wrapper">
    <div id="container">
    <div id="welcome">
        <h1><span>Welcome!</h1>
    </div>
    <div class="block">
    {% block fos_user_content %}{% endblock %}
</div>
    </div>
    </div>

{% endblock %}